<div class="col-2 liveStatsColumn">
    <b>Training Time: </b><div style="display: inline" class="liveNumber">{{trainingTime}} seconds</div><br>
</div>

<div class="col-2 liveStatsColumn">
    <b>Resting Time: </b><div style="display: inline" class="liveNumber">{{restingTime}} seconds</div><br>
</div>
<div class="col-2 liveStatsColumn">
    <b>Performing Time: </b><div style="display: inline" class="liveNumber">{{performingTime}} seconds</div><br>
</div>
<div class="col-2 liveStatsColumn">
    <b>Total Moves: </b><div style="display: inline" class="liveNumber">{{totalMoves}}</div><br>
</div>
<!-- <b>Training Time: </b><div style="display: inline" class="liveNumber">{{trainingTime}} seconds</div><br>
<b>Resting Time: </b><div style="display: inline" class="liveNumber">{{restingTime}} seconds</div><br>
<b>Performing Time: </b><div style="display: inline" class="liveNumber">{{performingTime}} seconds</div><br>
<b>Total Moves: </b><div style="display: inline" class="liveNumber">{{totalMoves}}</div><br> -->
